.Panel {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 25px;

  & > * {
    flex: 1;
  }

  &__weather {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    height: 400px;
  }

  &__weatherDetails {
    background: #18181b;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    height: 107px;

    display: flex;

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 12px;
    }

    & > *:first-child {
      flex: 2;

      & > div {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 5px 0;
      }
    }

    & > *:not(:first-child) {
      flex: 1;

      & > span {
        font-size: 24px;
        line-height: 32px;
      }
    }

    & > *:not(:last-child) {
      border-right: 1px solid #454545;
    }
  }

  &__weatherForecast {
    background: #f0f7ed;
    border: 1px solid #eaecf0;
    border-radius: 0px 0px 8px 8px;
    flex: 3;

    display: flex;
    flex-direction: column-reverse;

    & > section {
      padding: 2px 0;
      height: 85px;
      display: flex;
      gap: 10px;
    }

    & > div {
      background: url(../../../assets/weather-icon.svg) center no-repeat #f0f7ed;
      background-size: contain;
      flex-grow: 1;
      border-bottom: 1px solid #a9dd9a;
      opacity: 0.4;
    }
  }
}

.WeatherForecast {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__time {
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    margin-bottom: 0;
    font-size: 16px;
    font-style: normal;
    font-family: 'Baloo 2';
  }

  &__temperature {
    line-height: 20px;
    color: #808080;
    margin-bottom: 0;
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-family: 'Baloo 2';

    & > span {
      position: absolute;
      top: 0;
      font-weight: 400;
      font-size: 8px;
      line-height: 12px;
      margin-left: 2px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .Panel {
    flex-direction: column;

    & > * {
      flex: none;
    }
  }
}

@media only screen and (max-width: 425px) {
  .WeatherForecast {
    &__time {
      font-size: 12px;
    }

    &__temperature {
      font-size: 12px;

      & > span {
        font-size: 6px;
      }
    }
  }
}
