.ForgotPassword {
  display: flex;
  justify-content: center;
  height: 585px;
  position: relative;
  align-items: center;

  &__FormContent {
    background: white;
    width: 390px;
    margin-top: 2rem;
    border-radius: 24px;
    offset: 1px 1px rgba(101, 170, 79, 0.04);
    box-shadow: 1px 1px 8px 0px #65aa4f0a;
    padding: 27px;
  }

  &__Form {
    display: flex;
    margin-top: 35px;
    margin-bottom: 12px;

    h1 {
      font-size: 16px;
      line-height: 24px;
      margin-top: -6px;
    }

    p {
      font-size: 14px;
      color: #18181b;
    }
  }

  &__header {
    color: black;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    margin: 1rem 0;
  }

  &__FormText {
    margin-left: 12px;
  }

  button {
    margin-top: 1rem;
  }
}
