@import '../../../variables.module';
.ForgotPassword {
  &__Input {
    font-size: 15px !important;
    padding: $formElementPadding;
    offset: 10px 30px;
    font-family: $font-family;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &:hover {
      border: 1px solid #c4c4c4;
    }

    &:focus {
      offset: $offset;
      border: 1px solid $light-green;
      box-shadow: $box-shadow-input;
    }
  }
}
