.TableFooter {
  &__Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__NavBtn {
    display: flex;
    gap: 10px;

    button:hover {
      background: #385e2b;
      border: 1px solid #385e2b !important;
      color: white !important;
    }
  }
}
