@import '../_variables.module.scss';

.authForm {
  padding: 0;
}

.ant-select {
  margin-bottom: 2rem;
  .ant-select-selector {
    font-size: 15px !important;
    padding: 20px 10px !important;
    offset: 10px 30px !important;
    font-family: $font-family !important;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &:hover {
      border: 1px solid $light-green !important;
      box-shadow: $box-shadow-input;
    }
    &:focus-within {
      border: 1px solid $light-green !important;
      box-shadow: $box-shadow-input !important;
    }

    span:nth-child(2n) {
      margin-top: -0.9rem !important;
      height: 30px !important;
    }
  }
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after {
  border-top: 1px solid #c4c4c4;
  height: 10px;
}

.ant-input {
  font-size: 15px;
  padding: $formElementPadding;
  offset: 10px 30px;
  font-family: $font-family;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-bottom: 2px solid #e4e2e2;

  &:hover {
    offset: $offset;
    border: 1px solid $light-green;
    box-shadow: $box-shadow-input;
  }

  &:focus {
    offset: $offset;
    border: 1px solid $light-green;
    box-shadow: $box-shadow-input;
  }
}

.ant-input-affix-wrapper {
  font-size: 15px;
  background: white;
  padding: 8px 10px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-bottom: 2px solid #e4e2e2;

  &:hover {
    border: 1px solid $light-green !important;
    box-shadow: $box-shadow-input;
  }

  &:focus-within {
    border-color: $light-green !important;
    offset: $offset;
    box-shadow: $box-shadow-input;
  }

  .ant-input {
    box-shadow: none;
  }

  .ant-input[type='password']:not(:placeholder-shown) {
    font-size: 18px;
    font-family: verdana;
    font-weight: bolder;
  }
}
