@import '../_variables.module.scss';

.authForm {
  margin-top: 7%;
  width: 400px;

  &__Input {
    font-size: 15px !important;
    padding: $formElementPadding;
    offset: 10px 30px;
    font-family: $font-family;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &:hover {
      border: 1px solid #c4c4c4;
    }

    &:focus {
      offset: $offset;
      border: 1px solid $light-green;
      box-shadow: $box-shadow-input;
    }
  }
  &__Password {
    font-family: $font-family;
    font-size: 15px;
    background: white;
    padding: 10px;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    input {
      font-family: $font-family;
    }

    &:hover {
      border: 1px solid #c4c4c4 !important;
    }

    &:focus-within {
      border-color: $light-green !important;
      offset: $offset;
      box-shadow: $box-shadow-input;
    }

    & [id='auth-form_password']:not(:placeholder-shown) {
      font-size: 18px;
      font-family: verdana;
      font-weight: bolder;
    }
  }
}
.UserForm {
  &__Message {
    color: red;
    position: relative;
    font-size: 14px;
    top: -25px;
  }
}
.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after {
  border-top: 1px solid #c4c4c4;
  height: 10px;
}

@media only screen and (max-width: 768px) {
  .authForm {
    margin-top: 10%;
    width: 450px;
  }
}
@media only screen and (max-width: 320px) {
  .authForm {
    margin-top: 30%;
  }
}
