.AdminEnergyAnalytic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 24px;

  flex: 1;
  height: 152px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 16px;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #363636;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
  }

  &__innerWrapper {
    width: max-content;
  }

  &__h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #363636;

    & > span {
      margin-left: 5px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__duration {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999;

    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 820px) {
}
