.PowerSwitch {
  display: flex;
  gap: 10px;

  &__EditShutDown {
    display: flex;
    gap: 10px;
    button:hover {
      cursor: pointer;
    }
  }

  &__PowerBtn {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 45px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
    a {
      color: #912018;
      padding-top: 4px;
    }
  }

  &__ShutDownBtn {
    button {
      width: 155px;
      height: 40px;
      font-size: 14px;
      padding: 10px 5px;
      background: #385e2b;
      border: 1px solid #385e2b;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      color: white;
      font-weight: 600;
    }
    button:hover {
      cursor: pointer;
    }
  }

  &__OnAndOff {
    border: none;
    width: 275px;
    height: 40px;
    background: white;
    font-size: 14px;
    font-weight: 600;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      background: #f5f5f5;
    }
  }
  &__Modal {
    margin-top: 50px;
  }
  &__ModalContent {
    img {
      margin: 10px 40%;
    }
    h1 {
      text-align: center;
      font-size: 18px;
      color: #363636;
      margin: 10px;
    }
    p {
      color: #737373;
      font-size: 14px;
      margin: 20px 0;
    }
  }

  &__Confirm {
    display: flex;
    gap: 15px;

    button {
      width: 170px;
      padding: 10px 18px;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      font-weight: 600;
      font-size: 16px;
      background: #385e2b;
      border: 1px solid #385e2b;
      color: white;
    }

    & > button:first-child {
      background: #ffffff;
      border: 1px solid #c4c4c4;
      color: black;
    }
    & > button:hover {
      cursor: pointer;
    }
  }

  &__datePicker {
    width: 100%;
    & > div > div {
      border: 1px solid #99c78a;
      &:hover {
        border: 1px solid #99c78a !important;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f7fff4 !important;
      }
      &:focus {
        border: 1px solid #99c78a !important;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f7fff4 !important;
        outline: none;
      }
    }

    & > div > div > div:nth-child(4) {
      background: #297e0d !important;
    }
  }
}

li[role='menuitem']:hover {
  background: white !important;
  cursor: default !important;
}

li[class='ant-picker-now'] {
  & > a[class='ant-picker-now-btn'] {
    background: #385e2b;
    border-radius: 4px;
    color: white;
    padding: 1px 5px;
  }
}
li[class='ant-picker-ok'] {
  & > button[type='button'] {
    background: #385e2b !important;
    border-radius: 4px;
    color: white;
    padding: 0 5px;
  }
}

td[class^='ant-picker-cell']:hover {
  & > div {
    background: #385e2b;
    border-radius: 50%;
    color: white;
  }
}

li[class='ant-picker-time-panel-cell']:hover {
  & > div {
    background: #385e2b !important;
    color: white !important;
  }
}

@media only screen and (max-width: 320px) {
  .PowerSwitch {
    width: 100%;
    justify-content: space-between;
  }
}
