.Overview {
  &__headerSection {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
  }
  & > div:not(:last-child) {
    margin-bottom: 24px;
  }

  &__filters {
    margin-bottom: 32px;
  }

  &__widgets {
    display: flex;
    overflow: scroll;
    gap: 24px;
  }

  &__chart {
    height: 433px;
  }
}

@media only screen and (max-width: 820px) {
  .Overview {
    &__widgets {
      flex-wrap: wrap;
      gap: 4px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .Overview {
    &__widgets {
      flex-direction: column;
      gap: 8px;
    }
  }
}
