.Overview {
  &__headerSection {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
  }
  & > div:not(:last-child) {
    margin-bottom: 24px;
  }
  &__map {
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
  }

  &__filters {
    margin-bottom: 32px;
  }

  &__widgets {
    display: flex;
    overflow: scroll;
    gap: 24px;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__chart {
    height: 433px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    padding: 24px;
  }

  &__areaChart {
    display: flex;
    flex-direction: column;

    padding: 20px;
    height: 433px;
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 12px;
  }

  &__chartHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    & > h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
      color: #101828;
    }
  }

  &__chartHeaderBtn {
    padding: 10px 16px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0px;

    & > * {
      flex: 1;
    }
  }

  &__bottomLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    & > * {
      flex: 1;
    }
  }

  &__bottomChart {
    padding: 10px;
    border: 1px solid #eaecf0;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 12px;
    background: #fff;
  }

  &__bottomAreaChart {
    padding: 10px;
    border: 1px solid #eaecf0;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 12px;
    background: #fff;
  }

  &__alerts {
    background: #fff;
    height: 712px;
    padding: 20px;
    border: 1px solid #eaecf0;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 12px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    flex-direction: column;

    & > h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
      color: #101828;
    }
  }

  &__alertList {
    & li {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  &__alertBtn {
    align-self: flex-end;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #385e2b;
    border: 0;

    &:hover,
    &:active {
      color: #385e2b !important;
      border: 0 !important;
      box-shadow: none !important;
    }

    &:disabled {
      color: #838997 !important;
      cursor: not-allowed;
    }
  }
}

@media only screen and (max-width: 820px) {
  .Overview {
    &__chartHeader {
      & > h1 {
        font-size: 18px;
      }
    }

    &__chart {
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .Overview {
    &__chartHeader {
      flex-direction: column;

      & > h1 {
        font-size: 16px;
      }
    }

    &__chartHeaderBtn {
      align-self: flex-start;
    }

    &__bottom {
      flex-direction: column;
    }

    &__bottomChart {
      padding: 0px;
      padding-top: 7px;
    }

    &__bottomAreaChart {
      padding: 0px;
      padding-top: 7px;
    }
  }
}
