@import '../_variables.module.scss';

$buttonPadding: 14px 48px;

.Button {
  button {
    width: 100%;
    padding: 10px;
    border-radius: $borderRadius;
    border: none;
    background: $dark-green;
    color: white;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &:hover {
      background: #294620;
      cursor: pointer;
    }
    &:disabled {
      background: #517a44;
      cursor: not-allowed;
    }
    small {
      font-size: 16px;
      margin-left: 10px;
    }
  }
}

.text {
  h1 {
    font-weight: 600;
    color: #363636;
    font-size: 32px;
    line-height: 60%;
  }

  div {
    color: #808080;
    font-size: 15px;
  }
}

.ThirdPartyAuth {
  margin-top: 1.5rem;
  margin-bottom: -10px;
  button {
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    img {
      margin-top: 8px;
    }

    p {
      margin-top: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-left: 10px;
      font-size: 13px;
    }

    &:hover {
      background: rgba(240, 247, 237, 0.6);
      cursor: pointer;
    }
  }

  &__divider {
    margin: 15px 0;
  }
}

.FormFooter {
  &__OptAuth {
    text-align: center;
  }

  &__content {
    p {
      margin: 1rem 0;
    }
    a {
      color: $dark-green !important;
      font-weight: 600;
    }
  }

  &__AuthOpt {
    color: #808080;

    a {
      margin-left: 5px;
    }
  }
}

.desc {
  margin-top: 29%;
  &__image {
    display: flex;
    justify-content: center;

    img {
      width: 400px;
    }
  }
  &__text {
    text-align: center;
    margin: 2rem 0;

    h1 {
      width: 100%;
    }
    p {
      margin-top: 2rem;
      color: #18181b;
      font-size: 16px;
    }
  }
}

.PageIndicator {
  text-align: center;
  margin-top: 5.5rem;
  width: 100%;

  &__indicators {
    width: 100%;
  }

  &__pageIndex {
    height: 2px;
    margin: 0 4px;
    width: 15px;
  }
}

.authForm {
  padding: 0;
}

.Navbar {
  &__element {
    display: flex;
    justify-content: space-between;
  }
  &__Menubtn {
    display: none;
  }
  &__btn {
    margin-top: 5px;
    a {
      padding: 7px 40px;
      border-radius: 8px;
      border: none;
      margin-left: 20px;
      color: white;
      text-decoration: none;
    }
    & > a:not(:last-child) {
      color: #385e2b;
      font-size: 16px;
    }
  }
}

.FormFileUpload {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  width: 220px;

  &__fileUploadStatus {
    display: flex;
    justify-content: space-around;
    gap: 6px;
  }

  &__Text {
    width: 230px;
    text-align: left;
  }

  &__FileName {
    width: 300px;
    color: #606062;
    border: none;
    &:hover {
      border: none !important;
      background: none !important;
    }
  }

  &__FileUploadProgress {
    width: 230px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .text {
    h1 {
      line-height: 110%;
    }
  }
  .FormFileUpload {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    &__Text {
      width: 200px;
      text-align: left;
    }

    &__FileName {
      width: 200px;
      color: #606062;
    }

    &__FileUploadProgress {
      width: 100%;
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .Navbar {
    &__Menubtn {
      display: block;
      border: 1px solid #66ab4f;
      padding: 13px 10px;
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }

    &__btn {
      display: none;
    }
  }
}
