.SignUp {
  margin-top: 10%;
  width: 420px;

  &__Info {
    margin-top: 2rem;
    p {
      color: #556275;
      font-size: 15px;
      font-weight: 600;
    }
    span {
      color: #5c9d48;
    }
    strong {
      color: #363636;
    }
  }
}

@media only screen and (max-width: 768px) {
  .SignUp {
    margin-top: 30%;
  }
}
