// Auth Variables
$AuthleftSectionbgColor: white;
// $AuthHeight : 100vh;
$AuthSectionPadding: 20px 40px;
$AuthFormHeaderFontSize: 33px;
$FormTaglineFontSize: 15px;
$ButtonBg: #385E2B;
$fontFamily: 'Baloo 2', cursive;