.SHSTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  overflow: scroll;

  &__table {
    & table > thead > tr > th,
    & table > thead > tr > td {
      background: #f0f7ed !important;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: #454545;
    }
  }

  &__shsTableTitle {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 0 24px;

    & > h1 {
      display: flex;
      flex: 1;
      gap: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #363636;
    }
  }

  &__Location {
    & > * {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    & > h3 {
      color: #363636;
    }

    & > h4 {
      color: #808080;
    }
  }
}
