.SearchDropdown {
  div[class='ant-select-selector'] {
    border: none !important;
    font-size: 16px;
    outline: none !important;
    box-shadow: none !important;

    & > span[class='ant-select-selection-placeholder'],
    & > span[class='ant-select-selection-item'] {
      padding-top: 5px;
    }

    & > span > input {
      height: 100% !important;

      &::placeholder {
        color: #18181b;
      }
    }
  }
}
