@use '../../Forms/AuthForm/AuthForm.module.scss';

.Layout {
  background: white;
  height: 960px;
  padding: 28px 48px;

  &__image {
    img {
      height: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Layout {
    display: block;
    width: 100vw;
    height: 950px;
    padding: 20px;
  }
}
