.Layout {
  height: 100vh !important;
  padding: 28px 48px;
  position: relative;

  &__image {
    img {
      height: 50px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Layout {
    display: block;
    width: 100vw !important;
    padding: 28px 40px !important;
  }
}

@media only screen and (max-width: 320px) {
  .Layout {
    display: block;
    padding: 20px !important;
  }
}
