.Layout {
  height: 100%;
  padding: 28px 48px;
  position: relative;

  &__image {
    img {
      height: 50px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Layout {
    display: block;
    width: 100vw !important;
    height: 950px;
    padding: 20px;
  }
}
