@import '../../../../components/Auth/Forms/variables.module';


.Verification {
  &__Form {
    width: 300px;
    margin-top: 15%;
  }

  &__Message {
    color: red;
    font-size: 14px;
    position: relative;
    top: 15px;
  }

  &__Input {
    font-size: 15px !important;
    padding: 7px 10px;
    offset: 10px 30px;
    font-family: 'Baloo 2', cursive;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &:hover {
      border: 1px solid #c4c4c4;
    }

    &:focus {
      border: 1px solid #66ab4f;
      box-shadow: 0 1px 1px 3px #f7fff4;
    }
  }

  h1 {
    width: 100%;
    line-height: 30px;
  }

  &__content {
    width: 400px;

    img {
      margin-top: -13.3%;
      width: 280px;
    }

    h1 {
      margin-top: -20px;
      padding: 0 20px;
    }

    p {
      padding: 0 22px;
    }
  }

  &__Error {
    margin-bottom: -1rem;
  }
}

.Otp__Resend {
  cursor: pointer;
  width: 80px;
  border-radius: $borderRadius;
  border: none;
  background: $dark-green;
  color: white;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

  &:hover {
    background: #294620;
    cursor: pointer;
  }
  &:disabled {
    background: #517a44;
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 320px) {
  .Verification {
    &__Layout {
      display: block;
      overflow-x: hidden;
    }

    &__Form {
      width: 100%;
      margin-top: 30%;
    }
  }
}