.WidgetFilter {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  &__leftSection {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    height: 44px !important;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }

  &__divider {
    display: none;
  }

  &__btn {
    display: flex;

    & :last-child {
      border-radius: 0px 8px 8px 0px;
    }

    & :first-child {
      border-radius: 8px 0px 0px 8px;
    }

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 0px;
      padding: 10px 16px;
      height: 40px;
      background: #f9fafb;
      border: 1px solid #c4c4c4;

      font-size: 14px;
      line-height: 20px;
      color: #1d2939;

      &:active,
      &:focus,
      &:hover {
        color: #99c78a !important;
        border: 1px solid #99c78a;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f0f7ed;
      }
    }
  }

  &__btnSectionMobile {
    display: none;
  }

  &__selectSection {
    display: flex;
    gap: 15px;
  }

  &__select {
    & > div {
      & > span {
        & > input::placeholder {
          color: #18181b;
        }
      }
    }

    & > .ant-select-arrow {
      display: none;
    }

    div[class='ant-select-selector'] {
      padding: 7px !important;
      border: 1px solid #c4c4c4 !important;
      max-width: 212px !important;
      height: 44px !important;
      outline: none !important;
      box-shadow: none !important;
      font-size: 16px !important;
      border-radius: 8px !important;

      &:focus,
      &:hover {
        border: 1px solid #99c78a !important;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f0f7ed !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .WidgetFilter {
    flex-direction: column;
    gap: 10px;

    &__leftSection {
      gap: 10px;
    }

    &__divider {
      display: block;
      margin: 20px 0;
      border: 1px solid #cee5c8;
    }

    &__selectSection {
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 425px) {
  .WidgetFilter {
    gap: 5px;

    &__btnSectionMobile {
      display: flex;
    }

    &__btnSection {
      display: none;
    }
  }
}
