@import '../variables.module';
.VerificationForm{
    margin-top: 45%;
    width: 420px;

    p{
        color: $gray-text;
        line-height: 24px;
        font-size: 16px;

        span{
            color: $rightlayout-text-color;
            font-weight: bold;
        }
    }
}