@import '../variables.module';
@import '../AuthForm/AuthForm.module.scss';
.VerificationForm {
  margin-top: 20%;
  width: 420px;

  .tagline {
    color: $gray-text;
    line-height: 24px;
    font-size: 16px;

    span {
      color: $rightlayout-text-color;
      font-weight: bold;
    }
  }

  &__Input {
    font-size: 15px !important;
    padding: $formElementPadding;
    offset: 10px 30px;
    font-family: $font-family;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &:hover {
      border: 1px solid #c4c4c4;
    }

    &:focus {
      offset: $offset;
      border: 1px solid $light-green;
      box-shadow: $box-shadow-input;
    }
  }
}

@media only screen and (max-width: 768px) {
  .VerificationForm {
    margin-top: 65%;
    width: 100vw;
    padding: 0 20px;

    p {
      width: 100px;
    }
  }
}
