@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

html,
body,
#root {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Baloo 2', cursive;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-item-active {
  background: #f0f7ed !important;
}

.ant-menu > .ant-menu-item-selected {
  background-color: #f0f7ed;
  color: #385e2b;
}

.ant-radio-button-wrapper-checked {
  color: #99c78a !important;
  border: 1px solid #99c78a !important;
}

.ant-radio-button-wrapper-checked::before {
  border: 0;
  background-color: #99c78a !important;
}

.inputGroupField {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.ant-switch-checked {
  background-color: #385e2b !important;
}

.ant-radio-wrapper:hover > .ant-radio .ant-radio-inner {
  border-color: #99c78a !important;
  background-color: #99c78a !important;
}

.ant-radio-wrapper > .ant-radio-checked .ant-radio-inner {
  border-color: #99c78a !important;
  background-color: #99c78a !important;
}

@media only screen and (max-width: 425px) {
  .inputGroupField {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .inputGroupField > * {
    width: 100%;
  }
}
