@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

html,
body,
#root {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Baloo 2', cursive;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-item-active {
  background: #f0f7ed !important;
}

.ant-menu > .ant-menu-item-selected {
  background-color: #f0f7ed;
  color: #385e2b;
}
