// colors 
$dark-green: #385E2B;
$light-green: #91cf7c;
$offset: #F7FFF4;
$green-text: #5C9D48;
$gray-text: #808080;
$rightlayout-text-color: #18181B;
$box-shadow:0 1px 1px 1px #c4c4c498;
$box-shadow-input:0 1px 1px 3px #F7FFF4;
$formElementPadding: 6.5px 10px;
$borderRadius: 8px;
$font-family: 'Baloo 2', cursive;

