// colors
$dark-green: #385e2b;
$light-green: #91cf7c;
$offset: #f7fff4;
$green-text: #5c9d48;
$gray-text: #808080;
$rightlayout-text-color: #18181b;
$box-shadow: 0 1px 1px 1px #c4c4c498;
$box-shadow-input: 0 1px 1px 3px #f7fff4;
$formElementPadding: 8px 10px;
$borderRadius: 8px;
$font-family: 'Baloo 2', cursive;
