.Account {
  display: flex;
  &__NavBar {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 361px;
    align-items: center;
    padding: 0 10px;
    margin-top: 1rem;
  }
  &__NavLinks {
    text-decoration: none;
    color: #737373;
    font-weight: 400;
    font-size: 16px;
    padding: 15px;

    &:hover {
      color: #18181b;
    }
  }
}

.AccountInfo {
  margin: 2rem 0;
  &__Init {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.02em;
    background: #f0f7ed;
    border: 1px solid #66ab4f;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    outline-style: solid;
    outline-color: #dcecd5;
    display: flex;
    justify-content: center;

    p {
      margin-top: 2rem;
    }
  }

  &__Info {
    margin-top: 2.4rem;
    margin-left: 15px;
    line-height: 5px;

    p {
      font-weight: 400;
      font-size: 16px;
    }
    p:nth-child(2n-1) {
      color: #18181b;
      font-weight: 500;
      font-size: 24px;
    }
  }
}
