.Layout {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &__footerContact {
    display: flex;
    padding: 0 80px;
    color: #808080;
    justify-content: space-between;
  }

  &__icon {
    display: flex;

    p {
      margin: 0 2px;
    }
    p:nth-child(2n) {
      margin-top: 2px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .Layout {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  .Layout {
    display: none !important;
  }
}
