@import '../../../../components/Auth/Forms/variables.module';

.AccountBusiness {
  height: 100vh;
  margin-top: -31px;
  &__Form {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__FileUpload {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.02em;
    background: #f0f7ed;
    border: 1px solid #66ab4f;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
  }
  &__FileUploadIcon {
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  &__Input {
    font-size: 16px !important;
    padding: 6px;
    offset: 10px 30px;
    font-family: $font-family;
    width: 322px;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &:hover {
      border: 1px solid #c4c4c4 !important;
    }

    &:focus {
      offset: $offset;
      border: 1px solid #84bb72 !important;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f7fff4;
    }
  }

  button {
    margin-top: 1.8rem;
    padding: 7px;
    width: 322px;
  }

  &__Company {
    width: 322px;
    input {
      padding: 6px;
      border: 1px solid #c4c4c4;
      font-size: 16px;
      font-family: $font-family;

      &:hover {
        border: 1px solid #c4c4c4;
      }

      &:focus {
        offset: $offset;
        border: 1px solid #84bb72;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f7fff4;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .AccountBusiness {
    &__Form {
      display: block;
    }
    &__Input {
      width: 100%;
    }
    button {
      width: 100%;
    }
    &__Company {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .AccountBusiness {
    &__Input {
      width: 100%;
    }
    button {
      width: 200px;
    }
    &__Company {
      width: 100%;
    }
  }
}
