@import '../../../../components/Auth/Forms/variables.module';
.Business {
  margin-top: 10%;
  width: 420px;

  &__Input {
    font-size: 15px !important;
    padding: $formElementPadding;
    offset: 10px 30px;
    font-family: $font-family;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &:hover {
      border: 1px solid #c4c4c4;
    }

    &:focus {
      offset: $offset;
      border: 1px solid $light-green;
      box-shadow: $box-shadow-input;
    }
  }

  &__form {
    margin-top: 30px;
    p {
      color: #363636;
      font-size: 14px;
      margin-bottom: -10px;
      margin-top: -1px;
    }
  }

  &__Skip {
    font-size: 18px;
    text-align: center;
    a {
      color: #808080;
      font-weight: 600;
    }
  }

  &__FileUpload {
    span {
      border-radius: 8px;
    }
    span:hover {
      // border: 20px solid #99c78a;
      background: #f9fcf8;

      p {
        color: $dark-green !important;
      }
    }
  }
  &__FileUploaded {
    position: relative;
    z-index: -1;
  }

  &__FormFileUpload {
    display: flex;
  }

  &__fileUploadDelete {
    position: relative;
    z-index: 2;
    display: flex;
    top: 25px;
    right: 15px;
    justify-content: end;
  }
  &__fileUploadDeleteIcon {
    &:hover {
      cursor: pointer;
    }
  }

  &__Company {
    input {
      padding: 8px 10px;
      border: 1px solid #c4c4c4;
      font-size: 15px;
      font-family: $font-family;
      &:hover {
        border: 1px solid #c4c4c4;
      }

      &:focus {
        offset: $offset;
        border: 1px solid #84bb72;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f7fff4;
      }
    }
  }
  &__Desc {
    width: 450px;
    img {
      width: 250px;
      margin-top: -15%;
    }

    h1 {
      margin-top: -30px;
      padding: 0 50px;
      line-height: 44px;
    }

    p {
      padding: 0 8px;
      line-height: 24px;
      margin-top: -2px;
    }
  }
  &__Indicator {
    margin-top: -4rem;
  }
}

@media only screen and (max-width: 768px) {
  .BusinessForm {
    margin-top: 10%;
    height: 680px;
  }
}
@media only screen and (max-width: 320px) {
  .BusinessForm {
    margin-top: 20% !important;
  }
}
